h1 {
    text-align: center;
}
.description-container {
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
           line-clamp: 1; 
   -webkit-box-orient: vertical;
}
button {
    display: block;
    margin: 0 auto;
}
.loading-container {
    p {
        text-align: center;
    }
}