img {
    height: 120px;
    margin: 1em auto;
    display: block;
    border-radius: 300px;
}
p {
    text-align: center;
}
h1 {
    text-align: center;
}
button, select {
    display: block;
    margin: .5em auto;
}